/*********************************************************************************************************
                                                Code GENERAL
 ********************************************************************************************************/
* {
    box-sizing: border-box;
    border: none;
}

html {
    font-family: "Muli", serif;
    font-size: 1em;
    line-height: 1.4em;
    color: #FFFFFF;
    background-color: #1A1B1F;
}

body {
    margin: 100px 0 0 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: 'Changa One', cursive;
    text-align: center;
    padding: 5% 2% 3% 2%;
    margin: 0;
}

h1 {
    padding-top: 5%;
    font-size: 46px;
    line-height: 3rem;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

p {
    line-height: 1.5;
    padding: 2% 5% 2% 5%;
    margin: 0;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

p strong {
    color: #EBD539;
}

a:hover {
    text-decoration: underline;
}

main {
    max-width: 100%;
    margin: 0 auto;
}

main img {
    max-width: 100%;
    padding: 5%;
    background-color: #D7902A;
}

main hr.ligne-entiere {
    border-top: 7px solid #D7902A;
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: center;
}

main hr.ligne-titre1 {
    border-top: 3px solid #D7902A;
    width: 75%;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: center;
}

main hr.ligne-titre2 {
    border-top: 3px solid #D7902A;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: center;
}

main hr.ligne-titre3 {
    border-top: 2px solid #D7902A;
    width: 25%;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: center;
}

p.centertxt {
    text-align: center;
}

/*********************************************************************************************************
                                                EN-TÊTE
 ********************************************************************************************************/
header {
    background-color: #D7902A;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 15px;
}

header img {
    height: 80px;
    width: auto;
    display: block;
    margin: 0 auto;
}

header div.menu {
    background-color: #D7902A;
}

header div.menu ul {
    background-color: #D7902A;
}

header nav#meny {
    text-align: center;
    padding: 10px 0;
    margin: 0 0 0;
    font-size: 1.4em;
}

header nav#meny ul {
    padding: 0 0 2px 0;
    margin: 0;
    list-style: none;
}

header nav#meny li {
    display: block;
    margin: 0 0 0 -5px;
}

header nav#meny li a,
header nav#meny li a:visited {
    display: block;
    color: #FFFFFF;
    padding: 10px 10px;
    margin: 10px 0;
    text-decoration: none;
    background-color: #1A1B1F;
}

header nav#meny li a:hover {
    background-color: #96431B;
}

header nav#meny li a:hover,
header nav#meny li a.selected {
    color: #EBD539;
}

/*********************************************************************************************************
                                             Menu BURGER
 ********************************************************************************************************/
.burger-wrapper {
    cursor: pointer;
}

#meny {
    background: #D7902A;
    width: 100%;
    height: 0;
    left: 0;
    transition-timing-function: cubic-bezier(10, 2, 3, 1);
    transform: translateX(-30rem);
    top: 0;
    z-index: 0;
    transition: 0.5s;
    position: relative;
}

#menyAvPaa {
    display: none;
}

#menyAvPaa:checked ~ #meny {
    transform: translateX(0rem);
}

#burger {
    z-index: 999;
    position: absolute;
    cursor: pointer;
    width: 1.5rem;
    height: 1rem;
    left: 1.5rem;
    top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#burger > div {
    height: 2px;
    background-color: #96431B;
    transition: 0.3s;
    z-index: 999;
}

#menyAvPaa:checked ~ #burger > div {
    background-color: #96431B;
}

#menyAvPaa:checked ~ #burger > div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
}

#menyAvPaa:checked ~ #burger > div:nth-child(2) {
    opacity: 0;
}

#menyAvPaa:checked ~ #burger > div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
}

header nav.grandmenu {
    display: none;
}

/*********************************************************************************************************
                                              PIED DE PAGE
 ********************************************************************************************************/
footer {
    display: inline-block;
    background-color: #D7902A;
    padding: 5%;
    width: 100%;
}

footer address {
    font-size: 1.5em;
    text-align: center;
    background-color: #1A1B1F;
    padding: 5%;
}

footer address a img {
    width: 50px;
    vertical-align: center;
    margin: 5% 5% 0 5%;
}

/*********************************************************************************************************
                                               Page ACCUEIL
 ********************************************************************************************************/
main.page-accueil iframe {
    width: 100%;
    background-color: #D7902A;
    padding: 5%;
}

/*********************************************************************************************************
                                              Page EXPLICATIONS
 ********************************************************************************************************/
main.page-explications ul {
    margin-top: -10px;
    margin-bottom: 10px;
}

main.page-explications ul li {
    list-style-type: disc;
}

main.page-explications ul li p {
    padding-left: 0;
    line-height: 1em;
}

/*********************************************************************************************************
                                                Page MAPS
 ********************************************************************************************************/


/*********************************************************************************************************
                                                Page Ligues
 ********************************************************************************************************/
main.page-ligues table {
    border-collapse: collapse;
    border: 18px solid #D7902A;
    width: 100%;
    margin-bottom: 20px;
}

main.page-ligues table td, th {
    border: 1px solid #FFFFFF;
    text-align: center;
}

main.page-ligues table thead {
    color: #EBD539;
}