/*********************************************************************************************************
                                                Code GENERAL
 ********************************************************************************************************/
@import url('https://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Changa&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Changa', sans-serif;
    front-weight: 400;
    font-size: 1em;
    line-height: 1.4;
    color: white;
}

body {
    margin: 0;
    background-color: #090909;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1,
h2 {
    font-family: 'Changa One', cursive;
    front-weight: 400;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    margin-bottom: 5px;
    margin-top: 15px ;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #80e5ed;
    text-decoration: underline;
}

.wrapper {
    margin: 0 5%;
}


/*********************************************************************************************************
                                                EN-TÊTE
 ********************************************************************************************************/
header {
    padding: 20px;
    background-color: black;
    text-align: center;
}

header h1 {
    margin: 0;
    line-height: 0.8;
}

header hr {
    border-top: 5px solid white;
    width: 30%;
    margin: 10px 35% 5px 35%;
    padding: 0;
    vertical-align: center;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    display: inline-block;
    padding: 0 20px;
    font-weight: 700;
}


/*********************************************************************************************************
                                              PIED DE PAGE
 ********************************************************************************************************/
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    text-align: center;
    padding: 20px 0;
}


/*********************************************************************************************************
                                              PAGE ACCUEIL
 ********************************************************************************************************/
div.wrapper main.page-acceuil section.colonnes,
div.wrapper main.page-acceuil section.colonnes {
    padding: 0 20px;
}

div.wrapper main.page-accueil section.colonnes section.col2 {
    text-align: right;
}

div.wrapper main.page-accueil section.colonnes section.col1 ul.lien-divtec,
div.wrapper main.page-accueil section.colonnes section.col2 ul.lien-perso {
    list-style: none;
    padding: 0;
    margin: 0 0 0 10px; 
}

div.wrapper main.page-accueil section.colonnes section.col1 ul.lien-divtec li,
div.wrapper main.page-accueil section.colonnes section.col2 ul.lien-perso li {
    margin-bottom: .5em;
}

div.wrapper main.page-accueil section.colonnes section.col1 ul.lien-divtec li a,
div.wrapper main.page-accueil section.colonnes section.col2 ul.lien-perso li a {
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 0 5px;
    padding-left: 25px;
}

div.wrapper main.page-accueil section.colonnes section.col1 ul.lien-divtec li.sharepoint a[href*="divtec"] {
    background-image: url("../images/logo-sharepoint.png");
}

div.wrapper main.page-accueil section.colonnes section.col1 ul.lien-divtec li.planning a[href*="planning"] {
    background-image: url("../images/logo-hyperplanning.png");
}

div.wrapper main.page-accueil section.colonnes section.col2 ul.lien-perso li.netflix a[href*="netflix"] {
    background-image: url("../images/logo-netflix.png");
}

div.wrapper main.page-accueil section.recherche form a img {
    display: block;
    margin: 0 auto;
    padding-bottom: 15px;
    width: 15%;
}

div.wrapper main.page-accueil section.recherche form div.arrondi {
    display: block;
    width: 580px;
    height: 44px;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
    border: #161616;
    background-color: black;

}

div.wrapper main.page-accueil section.recherche form div.arrondi input.bouton {
    width: 22px;
    background-color: transparent;
}


div.wrapper main.page-accueil section.recherche form div.arrondi input.barre {
    width: 500px;
    height: 34px;
    margin: 5px 0;
    padding: 0 10px;
    border: none;
    background-color: black;
    color: white;
}