/*********************************************************************************************************
                                          Pour les écrans >= 480px
 ********************************************************************************************************/
@media only screen and (min-width: 480px) {
    main.page-accueil section.col1,
    main.page-accueil section.col2 {
        display: inline-block;
        vertical-align: top;
        width: 49.95%;
    }
}

/*********************************************************************************************************
                                                >= 660 PX
 ********************************************************************************************************/
@media only screen and (min-width: 660px) {

}

/*********************************************************************************************************
                                                >= 910 PX
 ********************************************************************************************************/
@media only screen and (min-width: 910px) {
    body {

    }

    html body header,
    html body main,
    html body footer {

    }

    html body header {

    }

    html body div.wrapper main {

    }
}
