/*********************************************************************************************************
                                                Code GENERAL
 ********************************************************************************************************/
@import url('https://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Changa&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Changa', sans-serif;
    font-size: 1.1em;
    line-height: 1.4;
    color: white;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

h1 {
    font-family: 'Changa One', cursive;
    font-size: 3em;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #80e5ed;
    text-decoration: underline;
}

.background {
    background-image: url("images/image-fond.jpg");

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.transparence {
    background-color: rgba(0,0,0,0.55);
    height: 100%;
}


/*********************************************************************************************************
                                                EN-TÊTE
 ********************************************************************************************************/
header {
    padding: 20px 20px 0;
    text-align: center;
    background-color: black;
    border-bottom: 1px solid white;
}

header h1 {
    margin: 0;
    line-height: 0.8;
}

header hr {
    border-top: 5px solid white;
    width: 41%;
    margin: 15px auto 10px auto;
    padding: 0;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    display: inline-block;
    padding: 0 10px;
    font-weight: 700;
}


/*********************************************************************************************************
                                              PIED DE PAGE
 ********************************************************************************************************/
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid white;
}


/*********************************************************************************************************
                                                   Menu
 ********************************************************************************************************/
ul#menu-horizontal {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
    position: sticky;
    list-style-type: none;
}

ul {
    background-color: black;
}

ul#menu-vertical .sous-vertical {
    left: 148px;
}

ul#menu-horizontal::after {
    content: "";
    display: table;
    clear: both;
}

ul#menu-horizontal li {
    display: inline-block;
    width: 150px;
    text-align: center;
    position: relative;
}

ul#menu-horizontal li ul#menu-vertical li ul.sous-vertical {
    width: 200px;
}

ul#menu-horizontal li:hover ul.sous {
    display: block;
}

ul#menu-horizontal ul#menu-vertical.sous li:hover .sous-vertical {
    display: inline-block;
}

ul#menu-horizontal a {
    width: 100%;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
}

ul#menu-horizontal a:hover {
    color: #80e5ed;
    text-decoration: none;
}

ul#menu-horizontal .sous,
ul#menu-vertical .sous-vertical {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1000;
    padding: 0;
}

ul#menu-horizontal .sous:hover  {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

ul#menu-horizontal .sous-vertical:hover {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

ul#menu-horizontal .sous li,
ul#menu-horizontal .sous-vertical li {
    float: none;
    width: 100%;
    text-align: center;
}

ul#menu-horizontal .sous a {
    width: 100%;
    padding: 5px;
}

ul#menu-horizontal .sous a:hover {
    color: #80e5ed;
    background-color: #171717;
    text-decoration: underline;
}

ul#menu-horizontal li > a::before {
    content: "▼ ";
    font-size: 12px;
}

ul#menu-horizontal li > a::after {
    content: " ▼";
    font-size: 12px;
}

ul#menu-horizontal li ul#menu-vertical.sous li > a::after {
    content: " ►";
    font-size: 12px;
}

ul#menu-horizontal li ul.sous li > a::before,
ul#menu-horizontal li ul.sous li > a::after,
ul#menu-horizontal li ul#menu-vertical.sous .sous-vertical li > a::after {
    content: none;
}
/************Bordure************/

ul#menu-horizontal .sous li {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

ul#menu-horizontal #vertical li:hover {
    border-right: none;
}

ul#menu-horizontal #vertical .sous-vertical li:hover {
    border-right: 1px solid white;
}

ul#menu-vertical li ul.sous-vertical li.first {
    border-left: none;
}

ul#menu-horizontal li ul.sous li.first {
    border-top: 1px solid white;
}

ul#menu-horizontal li ul.sous li.last {
    border-bottom: 1px solid white;
}

ul#menu-horizontal li#firstlast {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}


/*********************************************************************************************************
                                              PAGE ACCUEIL
 ********************************************************************************************************/
main.page-accueil div {
    width: 60%;
    margin: .7% auto;
    border: 3px solid #92959c;
    border-radius: 15px;
    background-color: transparent;
}

main.page-accueil div.search form input {
    padding: 12px 10px 12px 42px;
    border: none;
    color: #92959c;
    background-color: transparent;
    width: 100%;
    font-size: 110%;
    background-image: url("images/recherche.png");
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: 10px 12px;
}

main.page-accueil div.search,
main.page-accueil div.divtec,
main.page-accueil div.time {
    margin-top: 2%;
}

main.page-accueil div.divtec a,
main.page-accueil div.perso a {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: .5em;
}

main.page-accueil div.divtec a.first,
main.page-accueil div.perso a.first {
    margin-left: 1em;
}

main.page-accueil div.divtec a img,
main.page-accueil div.perso a img {
    padding: -5px;
    width: 60px;
    height: 60px;
    border: 3px solid black;
    border-radius: 100%;
}

main.page-accueil div.time {
    padding: 5px 0;
    background-color: transparent;
}
main.page-accueil div.time iframe.time {
    width: 100%;
    height: 45px;
    border: 0;
    background-color: transparent;
}

main.page-accueil div.weather div {
    max-width: 100%;
    border: none;
}
